a:hover{
    font-size: 16pt;
}

body {
    font-family: 'Caesar Dressing', cursive;
    margin: 0;
}

h1{
    margin:0;
}

header{
    background-image: url("../images/gloria.jpg");
    background-position: center;
    background-size: 400px;
    height: 400px;
}

nav{
    align-items: center;
    background-color: rgb(218, 247, 138);
    display: flex;
    justify-content: space-around;
    height: 50px;
}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
}

section img{
    height: 250px;
}

section img:nth-child(3):hover{
    width: 100%;

}